.c {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  
  // background: #151515;
  overflow: hidden;
  padding: 0;
  margin: 0;
  flex-direction: column;

  .title {
    position: relative;
    // top: 10px;
    font-size: 2rem;
    font-weight: bold;
    background-image: linear-gradient(
      90deg,
      #12c2e9 0%,
      #c471ed 50%,
      #f64f59 100%
    );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
    // margin-top: -100px;
    // margin-bottom: 100px;
  }

  .container {
    position: relative;
    width: 100vw;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .c-card {
    // background-color: red;
    width: 76%;
    height: 95%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    transform-origin: top center;
    list-style: none;
    flex-direction: column;
    img{
        // height: 145px;
        width: 90%;

    }
    p{
        font-size: small;
        background-color: #f5f5dcb5;
        border-radius: 10px;
        padding: 4px;
        margin: 5px;
        width: 90%;

    }
    .buttons{
        justify-content: space-around;

    }

    .tech {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #f5f5dcb5;
        border-radius: 10px;
        padding: 4px;


        img {
          width: 25px;
          height: 25px;
        }
      }
  }
}
