.works {
  background-color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  flex-direction: column;



  .head {
    position: relative;
    top: 10px;
    font-size: 4rem;
    font-weight: bold;
    background-image: linear-gradient(
      90deg,
      #12c2e9 0%,
      #c471ed 50%,
      #f64f59 100%
    );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -100px;
    margin-bottom: 100px;

  }


  .arrow {
    height: 150px;
    position: absolute;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }
    &.right {
      right: 100px;
    }
  }
  .slider {
    height: 450px;
    display: flex;
    position: relative;
    left: 0;
    width: 100%;
    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      .item:hover {
        box-shadow: 5px 5px 5px 5px #474747;
      }
      .item {
        width: 800px;
        height: 100%;
        background-color: whitesmoke;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-self: space-between;
            .imgContainer {
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: rgd(245, 179, 155);
              img {
                width: 25px;
              }
            }
            h2 {
              font-size: 20px;
            }
            p {
              font-size: 13px;
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 470px;
            height: 300px;
            border-style: solid;
          }
          img:hover {
            transform: scale(1.01);
          }
        }
      }
    }
  }
}

.works::before{
  content: "";
  background-image: url('rain.png');
  animation: rain .5s linear infinite;
  background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.05;
}

@keyframes rain {
    0%{
      background-position: 0% 0%;
    }
    // 50%{
    //   background-position: 20% 100%;
    // }
    100%{
      background-position: 20% 100%;
    }
}


