@import '../../global.scss';

.i{
    display: flex;
    height: 100vh;
  // background: linear-gradient(45deg, #1e293b,  #25a6d591, #23d5abc4);
  background-size: 400% 400%;
  position: relative;
  // animation: change 10s ease-in-out infinite;
  overflow: auto;
}
/* makes it so that 50% of the component on left 50 on right */
.i-left{
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.i-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */

}
.i-left-wrapper{
  // width: 70%;
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // color: aqua;
    color: #feda4a;    
}

.i-intro{
    // font-size: 30px;
    font-size: 6rem;
    font-weight: 300;
}

.i-name{
  font-size: 6rem;

}
.i-title{
    height: 50px;
}

.i-title-wrapper{
    height: 100%;
    /* animation: move 10s ease-in-out infinite alternate; */
}

@keyframes change {
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  
  }


.i-title-item{
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    // color: aliceblue;
    color: rgb(40, 49, 40);
    display: flex;
    align-items: center;

}

.i-desc{
  width: 700px;
}

.i-shape{
    height: 100vh;
    width: 30%;
    clip-path: polygon(40% 0%, 100% 0, 100% 20%, 100% 80%, 100% 100%, 40% 100%, 0% 50%);
    background-color: #9abab7;
    opacity: .9;
    position: absolute;
    top:0;
    right: 0;
}
