
.footer{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    

    .contact{
        background-color: gold!important;
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        // clip-path: polygon(0 39%, 100% 0, 100% 100%, 0% 100%);
        button {
            padding: 0.8em 1.8em;
            border: 2px solid white;
            position: relative;
            overflow: hidden;
            background-color: transparent;
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
            transition: .3s;
            font-family: inherit;
            color: whitesmoke;
           }
           
           button::before {
            content: '';
            width: 0;
            height: 300%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            background: white;
            transition: .5s ease;
            display: block;
            z-index: -1;
           }
           
           button:hover::before {
            width: 105%;
           }
           
           button:hover {
            color: #111;
           }
    }

    .links{
        background-color: black;
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .technologies {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 10px;
            padding: 4px;
            width: 40%;
  
  
           
            font-size: 40px;
            #icon{
                color: white;
            }
          }
    }
}